<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
     <style>
         button {
  background-color: lightblue; /* Green */
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 50%;
  text-align: right;
}
    </style>
</head>
<body style="background-COLOR: WHITE;background-repeat: no-repeat;background-size: cover;">
<div class="card-body" style="width: 30%; margin-left: 35%; margin-top: 5%;">
    <form action="" method="post" style="background-color: WHITE;padding: 110px;border: 5px solid RED; ">
        <center>
        {% csrf_token %}
        <p>are you sure you want to delete ?</p>
        <input class="button" type="submit" value="delete"/>
            <a href="{% url 'booklist' %}"> <input class="button" type="submit" value="cancel"/></a>
        </center>
    </form>
</div>


</body>
</html>